:root {
    --backgroundColor: #EAB676;
    --darkestBlue: #063970;
    --darkBlue: #154C79;
    --normalBlue : #1E81B0;
    --lightBlue: #76B5C5;
    --lightestBlue: #ABDBE3;
    --mediumGrey: #939393;
    --darkGrey: #626161;
    --darkestGrey: #353535;
    --blackFigma: #21130D;
    --whiteFigma: #EEEEE4;
    --brownFigma: #873E23;
    --lightOrange: #EAB676;
    --darkOrange: #EB6F31;
}

.textbutton{
    border-radius: 15px;
    font-family: 'Viga', sans-serif;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.2s;
}

.secondarytextbutton{
    border-radius: 15px;
    font-family: 'Viga', sans-serif;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.2s;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #EAB676;
    font-family: 'Nokora', bold;
    font-size: 15px;
    color: #545454;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

header, main, footer {
    width: 1350px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,.2);
}

header {
    margin-top: 30px;
    height: 150px;
    padding: 50px;
    background: #EAB676;
    text-transform: uppercase;
    font-family: 'Nokora', bold;

    display: flex;
    flex-direction: row;
    align-items: center;
}

main {
    padding: 50px;
    background: white;

    display: flex;
    flex-direction: row;
}

footer {
    padding: 15px 0px; /* top+bottom left+right*/
    background: white;
    border-top: 2px solid #EAB676;
    text-align: center;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 500;
}

h5{
    font-width: 100;
}

ul  {
    list-style: none;
}

p {
    line-height: 180%;
    margin-bottom: 1em;
}

a, strong {
    color: #2C2C2C;
}

a:hover {
    text-decoration: none;
}

#logo {
    flex-grow: 2;
    color: #FFFFFF;
}

#logo h1 {
    font-size: 3em;
    font-weight: 300;
}

#logo h2 {
    margin-top: -10px;
    margin-left: 50px;
    letter-spacing: 1px;
    font-size: 1.2em;
    font-weight: 300;
}

nav ul {
    width: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a {
    font-family: 'Nokora', bold;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: #000000;
}

nav a:hover, nav .active {
    color: #FFFFFF;
}

section {
    flex-grow: 2;
}

section h2 {
    font-size: 2em;
}

aside {
    padding-left: 40px;
    width: 400px; /* 300 when not on projector */
    line-height: 2em;

    display: flex;
    flex-direction: column;
}

aside article {
    margin-bottom: 20px;
}

aside h3 {
    margin-left: -1em;
}

aside p {
    line-height: normal;
}

th {
    text-align: left;
}

table, th, td {
    border : #CF4A41 solid thin;
    border-collapse: collapse;
    padding: 3px;
    font-size: x-small;
}

.over {
    background-color: #EAB676;
}

video {
    width: 640px;
    height: 400px;
}

canvas, #svg {
    width: 400px;
    height: 400px;
    border: thin solid silver;
}


[id^=showPswd], [id^=hidePswd]{
    position: absolute;
}

[id^=hidePswd]{
    display: none;
}

[id^=showPswd], [id^=hidePswd]{
    left: 500px;

}


#navbar {
    height: 64px;
    display: flex;
    box-sizing: border-box
}

/*LOGO IN NAVIGATION BAR*/
#logo-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nokora', sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
}

#logo-div:hover{
    cursor: pointer;
}

#logo-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    width: auto;
    position: relative;

}

#logo-bottom{
    height: 50%;
    width: auto;
}

#logo-text-top{
    margin-top: 8px;
    margin-left: 22px;
}

#logo-text-bottom{
    margin-bottom: 8px;
}

#langs_login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}